@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600&display=swap');

:root {
    --FONT-FAMILY-ONE: 'League Spartan', sans-serif;
    --FONT-FAMILY-TWO: 'Poppins', sans-serif;
    --BLACK: #000;
    --WHITE:#fff;
    --PRIMARY-COLOR: #FF5F6A;
    --SECONDARY-COLOR: #1A8917;
    --TEXT-COLOR: #ececec;
    --BG-COLOR: #080808;
    --SEC-BG-COLOR: #151515;
    --BORDER-COLOR: #ffdbbe;
    --LIGHT-COLOR: #c6c6c6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: var(--BG-COLOR) !important;
    width: 100%;
    height: 100%;
    font-family: var(--FONT-FAMILY-ONE) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn_va{
    background-color: var(--PRIMARY-COLOR);
    color: #fff; 
    padding: 10px 15px;
    border-radius: 5px;
    border-color: var(--PRIMARY-COLOR) !important;
    border: 1px solid;
}
.btn_outline_va{
    border-color: var(--PRIMARY-COLOR);
    border: 1px solid;
    color: var(--PRIMARY-COLOR); 
    padding: 10px 15px;
    border-radius: 5px;
}

.btn_va:hover{
    background-color: var(--PRIMARY-COLOR);
    color: #fff; 
    position: relative;
    overflow: hidden;
}
.btn_va:hover::before{
    content: '';
    width: 15px;
    height: 100px;
    transform: rotate(45deg);
    background: #fff;
    position: absolute;
    top: -50px;
    left: -10px;
    opacity: 0;
    animation: slide 0.5s ease-in-out;
}
@keyframes slide{
    from{
        top: -50px;
        left: -10px;
        opacity: 0;
    }
    to{
        top: -10px;
        left: 150px;  
        opacity: 1;
    }
}
.btn_outline_va:hover{
    border-color: var(--PRIMARY-COLOR);
    color: var(--PRIMARY-COLOR); 
    position: relative;
    overflow: hidden;
}
.btn_outline_va:hover::before{
    content: '';
    width: 15px;
    height: 100px;
    transform: rotate(45deg);
    background: #fff;
    position: absolute;
    top: -50px;
    left: -10px;
    opacity: 0;
    animation: slide 0.5s ease-in-out;
}

.heading{
    position: relative;
    width: fit-content;
}
.heading::before{
    content: url(images/Vector.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
}
.cus_card{
    border-radius: 5px;
    border: 1px solid rgba(255, 95, 106, 0.27);
    background: linear-gradient(117deg, rgba(255, 255, 255, 0.07) 0.95%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(18.5px);
    color: var(--WHITE);
    padding: 40px;

}
.com_card{
    border-radius: 5px;
    background: #fff;
    backdrop-filter: blur(18.5px);
    color: var(--WHITE);
    padding: 30px;
}
.available{
    position: relative;
}
.available::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1A8917;
    position: absolute;
    top: 3.5px;
    left: -30px;
    display: block;
}
.available::after{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    display: block;
    animation: myMove 2s infinite ease-in-out;
}

@keyframes myMove {
    0%{
        width: 15px;
        height: 15px;
        top: 3.5px;
        left: -30px;
        border: 2px solid #1A8917;
        opacity: 1;
    }
    100%{
        width: 30px;
        height: 30px;
        border: 2px solid #1A8917;
        opacity: 0;
        top: -4px;
        left: -37px;
    }
}

/* Header */
.top_header{
    z-index: 100;
    width: 100%;
    background-color: var(--BLACK);
}
.top_header .fixed-top{
    top: -40px !important;
    transform: translateY(40px);
    transition: transform .3s ease;
    background-color: var(--BLACK);
}
/* Header */

/* Header V3 */
.top_header.v3{
    box-shadow: 0px 0px 3px;
}
.top_header.v3 .fixed-top{
    box-shadow: 0px 0px 3px;
}
.top_header.v3 .nav-link{
    font-size: 15px;
    font-weight: 500;
    padding: 0px 30px !important;
    color: var(--WHITE) !important;
}
.top_header.v3 .nav-link:hover{
    color: var(--PRIMARY-COLOR) !important;
}
.top_header.v3 .nav-link.active{
    color: var(--PRIMARY-COLOR) !important;
}
.top_header.v3 .fixed-top .nav-link{
    color: var(--WHITE)!important;
}
.top_header.v3 .fixed-top .nav-link.active{
    color: var(--PRIMARY-COLOR)!important;
}
.top_header.v3 .fixed-top .nav-link:hover{
    color: var(--PRIMARY-COLOR) !important;
}
.top_header.v3 .btn{
    background-color: var(--PRIMARY-COLOR);
    color: #fff; 
    padding: 8px 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.top_header.v3 .btn:hover::before{
    content: '';
    width: 15px;
    height: 100px;
    transform: rotate(45deg);
    background: #fff;
    position: absolute;
    top: -50px;
    left: -10px;
    opacity: 0;
    animation: slide 0.5s ease-in-out;
}
.top_header.v3 .dropdown-menu{
    background-color: var(--SECONDARY-COLOR) !important;
    width: 250px;
}
.top_header.v3 .dropdown-item{
    color: var(--WHITE) !important;
    font-size: 14px;
}
.top_header.v3 .dropdown-item:hover{
    background-color: var(--SECONDARY-COLOR) !important;
}
.top_header.v3 .dropdown-item:focus{
    background-color: var(--SECONDARY-COLOR) !important;
}
/* Header V3 */

/* Footer V1 */
#footer{
    margin-top: auto;
}
.footer.v1{
    background-color: var(--BLACK);
    color: var(--WHITE);
}
.footer.v1 i{
    color: var(--WHITE);
    font-size: 27px;
} 
.footer.v1 i:hover{
    color: var(--PRIMARY-COLOR);
    font-size: 27px;
}
/* Footer V1 */

.mobile_menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--BLACK);
    box-shadow: 0px 0px 1px #737373;
}

.mobile_menu .navbar-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mobile_menu .nav-link{
    color: var(--WHITE);
}

.mobile_menu .nav-link.active{
    color: var(--PRIMARY-COLOR);
}

.social a{
    font-size: 27px;
    color: var(--WHITE);
    text-decoration: none;
}
.social a:hover{
    font-size: 27px;
    color: var(--PRIMARY-COLOR);
    text-decoration: none;
}

/* Whatsapp Chat */
.chat_withus{
    position: fixed;
    right:50px;
    bottom:30px;
    z-index: 1111111; 
}
.chat-red{
    background-color: var(--PRIMARY-COLOR) !important;
    color: #fff !important;
    padding:15px 15px !important;
    border-radius: 50px 10px 50px 50px;
    position: relative;
}

.chat_withus a{
    /* box-shadow: 0px 0px 5px #a8a8a8; */
    font-size: 25px !important;
}
/* Whatsapp Chat */

/* Components Styles */


/* Land Page */

.land_page{
    background: url(images/top_bg.png);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    object-fit: cover;
    overflow: hidden;
}
.land_page h1{
    color: var(--WHITE);
}
.land_page p{
    padding: 10px 0px;
    line-height: 35px;
    font-size: 20px;
    color: var(--WHITE);
}
.land_page .grad_text{
    background: linear-gradient(92deg, #E741B8 40.97%, rgba(255, 188, 16, 0.83) 97.34%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Skills */

.skill{
    background-color: var(--SEC-BG-COLOR);
    padding: 50px 0px;
}
.skill h4{
    color: var(--WHITE);
}
#skills{
    scroll-margin-top: 50px;
}
#project{
    scroll-margin-top: 50px;
}

/* Components Styles */

@media(max-width:830px){

}

@media(max-width:500px){
    .cus_card{
        padding: 25px;
    
    }
    .chat_withus{
        right:20px;
        bottom:100px;
    }
    .footer{
        padding-bottom: 110px;
    }
    .land_page{
        height: 100%;
    }
}
